.App {
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #0080ff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.info-panel {
  float: right;
  max-width: 240px;
}

.info-panel>div {
  margin-top: 20px;
}

.representative-table {
  min-width: 40vw;
  margin: 20px;
}

.representative-row {
  line-height: 40px;
}

.error-text {
  color: red;
}

.list-and-info-display {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}

.list-panel {
  margin-right: 20px;
}

.slightly-grey-text {
  color: #7b7b7b;
}